project:
  type: website
  
execute:
  freeze: auto

website:
  title: "Guide d'installation des LLM"

  page-footer:
    right: "Ce site a été créé avec [Quarto](https://quarto.org/)"
    
  sidebar:
    pinned: true
    align: center
    style: "docked"
    contents:
      - section: "I-Accompagnement"
        contents:
          - href: I-Accompagnement/1_Besoins.qmd
            text: "Besoins"
          - href: I-Accompagnement/2_Deja_Fait_Admin.qmd
            text: "Exemples dans l'administration"
          - href: I-Accompagnement/3_Acculturation.qmd
            text: "Acculturation"
          - href: I-Accompagnement/4_Impacts.qmd
            text: "Impacts"
      - section: "II-Developpements"
        contents:
          - href: II-Developpements/1_Revue_Technique_LLM.qmd
            text: "Revue technique des LLM"
          - href: II-Developpements/2_RAG.qmd
            text: "Retrieval Augmented Generation"
          - href: II-Developpements/3_Evaluations.qmd
            text: "Evaluations"
      - section: "III-Deploiements"
        contents:
          - href: III-Deploiements/1_Socle_minimal.qmd
            text: "Socle minimal"
          - href: III-Deploiements/2_Socle_avance.qmd
            text: "Socle avancé"
          - href: III-Deploiements/3_Socle_Production.qmd
            text: "Socle Production"
          - href: III-Deploiements/4_Infras_administrations.qmd
            text: "Infrastructures dans l'administration"
        
format:
  html:
    theme:
      light: flatly
      dark: darkly
    code-copy: true
    code-overflow: wrap
    toc: true